* {
  margin: 0;
  padding: 0;
  font-family: 'Albert Sans', sans-serif;
  font-weight: 500;
  cursor: default;
}

body {
  background-color: #0f0f0f;
}
// Colores

$primary: rgb(0, 81, 255);

// Colores

            /* <------- Nav Bar -------> */  

header {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  animation: slidetop 0.5s;
}

.circle {
  width: 95%;
  height: 70%;
  background-color: rgba(15, 15, 15, 0.8);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.40);
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  transition: 0.5s;
  position: relative;
}

.circle:hover {
  border: 2px solid white;
}

.logo {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.logo img {
  height: 80%;
}

.logo:hover {
  .logo,img {
    animation: logo 5s infinite;
  }
}

.nav-bar {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.nav-bar ul {
  display: flex;
  list-style: none;
}

.nav-bar ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.3s;
  display: block;
}

.nav-bar a:hover {
  color: $primary;
}

.nav-bar button {
  width: 200px;
  height: 50px;
  background: none;
  color: white;
  font-size: 20px;
  border: 2px solid rgba(85, 85, 85, 0.658);
  border-radius: 100px;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  cursor: pointer;
}

.nav-bar button:hover {
  color: $primary;
  border: 2px solid white;
  text-shadow: 0 0 10px $primary;
}

.nav-bar img {
  height: 50%;
  margin: 0 0 0 10px;
}

.hamburger {
  display: none;
  height: 100%;
  width: auto;
}

            /* <------- Cierra Nav Bar -------> */  


main {
  height: auto;
  width: 100%;
  padding: 55px 20px 0 20px;
  box-sizing: border-box;
  position: relative;
}

.title {
  font-size: 120px;
  font-weight: 800;
  line-height: 1;
  background: linear-gradient(40deg,$primary,rgb(0, 204, 255));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transition: 0.5s;
}

.title:hover {
  text-shadow: 0 0 20px $primary;
}

main span {
  font-size: 25px;
  font-weight: 700;
  color: rgb(201, 201, 201);
  margin: 0px 6px;
}

main h1 {
  font-size: 120px;
  font-weight: 800;
  color: white;
  line-height: 1;
  margin: 30px 0;
  animation: slideleft 0.5s;
}

main h2 {
  width: 50%;
  font-size: 23px;
  font-weight: 600;
  color: rgb(201, 201, 201);
  margin: 0px 6px;
  animation: slidetop 0.5s;
}

main video {
  transform: rotate(10deg);
  height: 250px;
  position: absolute;
  bottom: -100px;
  right: 140px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgb(0, 0, 0);
  transition: 1s;
}

main video:hover {
  transform: rotate(0);
}

main button {
  width: 250px;
  height: 50px;
  background: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  border: 2px solid rgba(85, 85, 85, 0.658);
  border-radius: 100px;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
  transition: 0.5s;
  cursor: pointer;
}

main button:hover {
  color: $primary;
  border: 2px solid white;
  text-shadow: 0 0 10px $primary;
}

section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

section h2 {
  font-size: 60px;
  width: 50%;
  padding: 80px 0;
  font-weight: 800;
  text-align: center;
  color: white;
  line-height: 1;
  margin: 10px 0;
  animation: slideleft 0.5s;
}

.title2 {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  background: linear-gradient(40deg,$primary,rgb(0, 204, 255));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transition: 0.5s;
}

.reseñas {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.reseñas-box {
  height: auto;
  width: 30%;
  background-color: #0a0a0a;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
}

.reseñas-box span {
  position: absolute;
  color: white;
  font-size: 100px;
  top: -50px;
  left: -10px;
}

.reseñas-box h3 {
  color: white;
  font-size: 30px;
  margin: 10px 0;
}

.reseñas-box p {
  color: white;
  font-size: 20px;
}

.title2:hover {
  text-shadow: 0 0 10px $primary;
}

            /* <------- Footer -------> */  

footer {
  width: 100%;
  height: auto;
  display: flex;
  padding: 50px 30px;
  box-sizing: border-box;
  justify-content: space-between;
}

.copyright {
  width: 20%;
  display: flex;
  align-items: center;
}

.copyright span {
  color: white;
}

footer nav {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul li {
  list-style: none;
  display: inline;
}

footer a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  margin: 0 15px;
  transition: 0.5s;
}

footer a:hover {
  color: $primary;
}

.socials {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials a {
  cursor: pointer;
}

.socials i {
  font-size: 25px;
  margin: 0 10px;
  cursor: pointer;
}

            /* <------- Cierra Footer -------> */  

            /* <------- Animaciones -------> */  

@keyframes slideleft {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 100;
  }
}

@keyframes slidetop {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 100;
  }
}

@keyframes slideright {
  0% {
    transform: rotate(0);
    transform: translateX(10%);
    opacity: 0;
  }

  100% {
    transform: rotate(10deg);
    transform: translateX(0);
    opacity: 100;
  }
}

            /* <------- Cierra Animaciones -------> */  

            // Responsive

@media only screen and (max-width: 880px) {
  .hamburger {
    display: block;
    cursor: pointer;
    height: auto;
    width: auto;
    position: absolute;
    right: 50px;
    top: 25px;
  }

  .hamburger .line {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px;
  }

  .nav-bar {
    display: none;
    height: 0;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: #0f0f0f;
    transition: 0.5s;
  }

    .nav-bar.active {
    height: 450px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .nav-bar ul {
    flex-direction: column;
  }

  .nav-bar ul li a {
    margin: 20px;
  }
}
