* {
  margin: 0;
  padding: 0;
  font-family: 'Albert Sans', sans-serif;
  font-weight: 500;
  cursor: default;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-image: url(../src/Contour\ Line.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

// Colores

$primary: rgb(0, 81, 255);

// Colores

            /* <------- Nav Bar -------> */  

header {
  width: 100%;
  height: 95px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: sticky;
  top: 0;
  z-index: 99;
}

.logo {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

.logo a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logo a img {
  height: 80%;
  margin: 0 10px;
  cursor: pointer;
}

.hamburger {
  display: none;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li a {
  text-decoration: none;
  border-radius: 20px;
  display: block;
  color: white;
  font-size: 20px;
  padding: 5px 20px;
  margin: 0 15px;
  transition: 0.5s;
  cursor: pointer;
}

.nav-bar ul li a:hover {
  color: $primary;
}

.nav-bar ul li a.active {
  color: $primary;
}

.nav-bar ul li a.active:hover {
  color: $primary;
  text-shadow: 0 0 5px $primary;
}

.nav-bar button {
  width: 200px;
  height: 50px;
  background: none;
  color: white;
  font-size: 20px;
  border: 2px solid rgba(85, 85, 85, 0.658);
  border-radius: 100px;
  margin: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
}

.nav-bar button:hover {
  color: $primary;
  border: 2px solid white;
  text-shadow: 0 0 10px $primary;
}

.nav-bar img {
  height: 50%;
  margin: 0 0 0 10px;
}

            /* <------- Cierra Nav Bar -------> */  


main {
  height: auto;
  width: 100%;
  padding: 55px 20px 0 20px;

  position: relative;
}

.title {
  font-size: 120px;
  font-weight: 800;
  line-height: 1;
  background: linear-gradient(40deg,$primary,rgb(0, 204, 255));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transition: 0.5s;
}

.title:hover {
  text-shadow: 0 0 20px $primary;
}

main p {
  font-size: 25px;
  font-weight: 700;
  color: rgb(201, 201, 201);
  margin: 0px 6px;
  font-weight: 500;
}

main h1 {
  font-size: 120px;
  font-weight: 800;
  color: white;
  line-height: 1;
  margin: 30px 0;
}

main h2 {
  width: 50%;
  font-size: 23px;
  font-weight: 600;
  color: rgb(201, 201, 201);
  margin: 0px 6px;
  font-weight: 400;
}

main video {
  transform: rotate(10deg);
  height: 250px;
  position: absolute;
  bottom: -50px;
  right: 140px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgb(0, 0, 0);
  transition: 0.5s;
  z-index: 50;
}

main video:hover {
  transform: rotate(0deg);
}

main button {
  width: 250px;
  height: 50px;
  background: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  border: 2px solid rgba(85, 85, 85, 0.658);
  border-radius: 100px;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
  cursor: pointer;
  transition: 0.5s;
  display: inline;
}

main button:hover {
  color: $primary;
  border: 2px solid white;
  text-shadow: 0 0 10px $primary;
}

section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

section h2 {
  font-size: 60px;
  width: 50%;
  padding: 80px 0;
  font-weight: 800;
  text-align: center;
  color: white;
  line-height: 1;
  margin: 10px 0;
}

.title2 {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  background: linear-gradient(40deg,$primary,rgb(0, 204, 255));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transition: 0.5s;
}

.reseñas {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

}

.reseñas-box {
  height: auto;
  width: 30%;
  background-color: #0a0a0a;

  padding: 20px;
  position: relative;
}

.reseñas-box span {
  position: absolute;
  color: white;
  font-size: 100px;
  top: -50px;
  left: -10px;
}

.reseñas-box h3 {
  color: white;
  font-size: 30px;
  margin: 10px 0;
}

.reseñas-box p {
  color: white;
  font-size: 20px;
  font-weight: 200;
}

.title2:hover {
  text-shadow: 0 0 10px $primary;
}

            /* <------- Footer -------> */  

footer {
  width: 100%;
  height: auto;
  display: flex;
  padding: 80px 30px;
  justify-content: space-between;
}

.copyright {
  width: 20%;
  display: flex;
  align-items: center;
}

.copyright span {
  color: rgb(153, 153, 153);
  transition: 0.5s;
}

.copyright span:hover {
  color: $primary;
  text-shadow: 0 0 7px $primary;
}

footer nav {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul li {
  list-style: none;
  display: inline;
}

footer nav a {
  color: rgb(153, 153, 153);
  text-decoration: none;
  font-size: 15px;
  margin: 0 15px;
  transition: 0.5s;
}

footer nav a:hover {
  color: $primary;
}

.socials {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials a {
  cursor: pointer;
}

.fa-instagram {
  font-size: 25px;
  margin: 0 10px;
  cursor: pointer;
  color: rgb(153, 153, 153);
  transition: 0.2s; // No consegui hacer andar la transition del icon de ig
}

.fa-twitter {
  font-size: 25px;
  margin: 0 10px;
  cursor: pointer;
  color: rgb(153, 153, 153);
  transition: 0.2s;
}

.fa-instagram:hover {
  background: linear-gradient(-10deg,rgb(255 220 128),rgb(252 175 69),rgb(247 119 55),rgb(245, 96, 64),rgb(253, 29, 29),rgb(225, 48, 108),rgb(193, 53, 132),rgb(131, 58, 180),rgb(88, 81, 219),rgb(64, 93, 230));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.fa-twitter:hover {
  color: #1DA1F2;
}

            /* <------- Cierra Footer -------> */  

            // Responsive

@media only screen and (max-width: 980px) {
  .logo a img {
    height: 48%;
  }
  
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger .line {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
  }

  .nav-bar {
    flex-direction: column;
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100%;
    background-color: black;
    transition: 0.2s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-bar.active {
    height: 450px;
    z-index: 10;
  }

  .nav-bar ul {
    display: block;
    width: fit-content;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }

  .nav-bar.active ul {
    opacity: 1;
  }

  .nav-bar ul li a {
    margin: 50px 0 12px 0;
  }

  .nav-bar button {
    margin: 24px 0 12px 0;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  .copyright {
    width: 100%;
    justify-content: center;
    padding: 30px;
  
  }

  .socials {
    width: 100%;
    justify-content: center;
    padding: 30px;
  
  }
}

@media only screen and (max-width: 1140px) {
  main video {
    display: none;
  }
}

@media only screen and (max-width: 910px) {
  main h1 {
    font-size: 80px;
  }

  main span {
    font-size: 20px;
  }

  .title {
    font-size: 80px;
  }
}

@media only screen and (max-width: 960px) {
  .reseñas {
    flex-direction: column;
  }

  section h2 {
    font-size: 50px;
  }

  .title2 {
    font-size: 50px;
  }

  .reseñas-box {
    width: 95%;
    margin: 20px 0;
  }
}

@media only screen and (max-width: 510px) {
  header {
    padding: 0 50px;
  }
  
  footer nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  footer nav ul li {
    padding: 10px 0;
  }
}

@media only screen and (max-width: 620px) {
  main h1 {
    font-size: 50px;
  }

  .title {
    font-size: 50px;
  }

  main a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section h2 {
    width: 80%;
  }

  section h2 {
    font-size: 30px;
  }

  .title2 {
    font-size: 30px;
  }


  main h2 {
    width: 100%;
  }
  main span {
    font-size: 20px;
  }
}
